In [31]:
from stimulation_order import StimulationOrder

so = StimulationOrder()
so.save_as_csv('C:\\Users\\julia\\PycharmProjects\\EvokingSensation\\data\\test_stim_order.xlsx')